.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  display: block;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  opacity: 1;
  transition: 0.5s linear;
}
.feynman__link:hover {
  opacity: 0.5;
}